@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 150 60% 97%;
    --foreground: 148 20% 15%;
    --card: 150 60% 100%;
    --card-foreground: 148 20% 15%;
    --popover: 150 60% 100%;
    --popover-foreground: 148 20% 15%;
    --primary: 148 38% 62%;
    --primary-foreground: 148 25% 10%;
    --secondary: 150 40% 90%;
    --secondary-foreground: 148 20% 15%;
    --muted: 150 40% 90%;
    --muted-foreground: 148 10% 45%;
    --accent: 165 39% 70%;
    --accent-foreground: 165 20% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 20% 88%;
    --input: 150 20% 88%;
    --ring: 148 38% 62%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 150 40% 94%;
    --sidebar-foreground: 148 20% 20%;
    --sidebar-primary: 148 38% 62%;
    --sidebar-primary-foreground: 148 25% 10%;
    --sidebar-accent: 150 60% 97%;
    --sidebar-accent-foreground: 148 20% 15%;
    --sidebar-border: 150 20% 88%;
    --sidebar-ring: 148 38% 62%;
  }
  .dark {
    --background: 150 10% 10%;
    --foreground: 150 60% 97%;
    --card: 150 10% 12%;
    --card-foreground: 150 60% 97%;
    --popover: 150 10% 10%;
    --popover-foreground: 150 60% 97%;
    --primary: 148 38% 62%;
    --primary-foreground: 148 25% 10%;
    --secondary: 150 10% 15%;
    --secondary-foreground: 150 60% 97%;
    --muted: 150 10% 15%;
    --muted-foreground: 150 20% 65%;
    --accent: 165 39% 70%;
    --accent-foreground: 150 60% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 10% 20%;
    --input: 150 10% 20%;
    --ring: 148 38% 62%;
    --sidebar-background: 150 10% 12%;
    --sidebar-foreground: 150 60% 97%;
    --sidebar-primary: 148 38% 62%;
    --sidebar-primary-foreground: 148 25% 10%;
    --sidebar-accent: 150 10% 17%;
    --sidebar-accent-foreground: 150 60% 97%;
    --sidebar-border: 150 10% 20%;
    --sidebar-ring: 148 38% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
